body{
    margin:auto;
    background-color: #f4f4f4;
}

section{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar{
    background-color: #3f3f3f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    min-height:35px;
}

.nav-bar a{
    padding:0.5vw;
    background-color: #4f4f4f;
    color:white;
    text-align: center;
    text-decoration: none;
}

.nav-bar a:hover{
    background-color: #5f5f5f;
}

.page-title{
    color:green;
}

.main-text{
    background-color: white;
    margin-bottom: 1cm;
    margin-top: 1cm;
}
.main-text p{
    font-style: italic;
}

.row-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height:2vw;
    min-height: fit-content;
    margin-bottom: 20px;
    gap: 20px;
}

.column-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height:2vw;
    min-height: fit-content;
    gap: 20px;
    max-width: 800px;
    border-radius: 15px;
}

.column-container p{
    margin: 15px;
    text-align: center;
}

.link-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    height:2vw;
    min-height: fit-content;
    margin-bottom: 20px;
    border-radius: 15px;
    gap: 20px;
}

.link{
    margin: 15px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

.link:hover{
    background-color: #efefff;
}