body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 24px;
}

.data_box {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: black;
    color: white;
}
@media screen and (max-width: 480px) {
    .data_box {
        width: 90%; 
        padding: 15px;
    }

    table th, table td {
        padding: 5px;
        font-size: 14px; 
    }

    .links a {
        font-size: 14px; 
}
}